.container {
    margin: 1% 0;
    .title {
        font-size: 2rem;
        color: #000;
        margin-bottom: 2rem;
    }
    .title_2 {
        font-size: 1.9rem;
        color: #000;
        margin-bottom: 2rem;
    }

    .select_box {
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        label {
            font-size: 1.8rem;
            display: block;
            margin-right: 0.9rem;
            font-weight: 600;
        }
        select {
            font-size: 1.5rem;
            border-radius: .4rem;
            background: #fff;
            border: .1rem solid #6e6b6b;
            padding: .4rem .7rem;
            cursor: pointer;
        }
    }

    .editor_container {
        .editor_box {
            outline: none;
            border: .2rem solid #6e6b6b;
            padding: .8rem;
            font-size: 1.8rem;
            font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        }
        .execute_button {
            outline: none;
            border: none;
            background: yellow;
            padding: .8rem;
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 2rem;
            border-radius: .4rem;
            cursor: pointer;
            margin-bottom: 2rem;
        }
    }

    .output_container {
        margin-top: 1.5rem;
        display: flex;
        .output_box {
            flex: 1;
            border: .2rem solid #6e6b6b;
            padding: .8rem;
            font-size: 1.8rem;
            line-height: 1.8;
            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: .1rem solid dodgerblue;
                margin-bottom: 2rem;
                .flex {
                    display: flex;
                    align-items: center;
                    span.label {
                        font-size: 1.5rem;
                        margin-right: .8rem;
                        color: #6e6b6b;
                    }
                }
                span {
                    display: block;
                    &.taskstatus {
                        color: rgb(5, 185, 92);
                        font-size: 1.5rem;
                    }
                    &.taskId {
                        color: #909495;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .error_box {
            flex: 1;
            border: .2rem solid #6e6b6b;
            padding: .8rem;
            font-size: 1.8rem;
            color: rgb(233, 20, 70);
            line-height: 1.8;
        }
    }
}